<ul class="nav nav-tabs" style="margin-top: 10px;">
    <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)">
        <a class="nav-link" [class.active]="tab.active">{{tab.title}}</a>
    </li>
    <!-- dynamic tabs -->
    <li class="nav-item" *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)">
        <a class="nav-link" [class.active]="tab.active">{{tab.title}} <span class="tab-close" *ngIf="tab.isCloseable"
                (click)="closeTab(tab)">x</span></a>
    </li>
</ul>
<ng-content></ng-content>
<ng-template dynamic-tabs></ng-template>