<ul class="nav nav-tabs" style="margin-top: 10px;">
    <li class="nav-item" *ngFor="let tab of fixedTabs; let i = index" (click)="selectFixedTab(i)">
        <a class="nav-link" [class.active]="tab.tabActive">{{ tab.tabTitle }}</a>
    </li>
    <!-- dynamic tabs -->
    <li class="nav-item" *ngFor="let tab of dynamicTabs; let i = index" (click)="selectDynamicTab(i)">
        <a class="nav-link" [class.active]="tab.tabActive">{{ tab.tabTitle }}
            <span class="tab-close" *ngIf="tab.tabIsCloseable" (click)="closeTab(i)">x</span></a>
    </li>
</ul>
<ng-content></ng-content>
<ng-template dynamic-tabs></ng-template>