<section class="container">
    <header>
        <h2>Step {{selectedIndex + 1}}/{{_steps.length}}</h2>
    </header>

    <div [style.display]="selected ? 'block' : 'none'">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>

    <footer class="step-navigation-bar">
        <button mat-icon-button cdkStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-button *ngFor="let step of _steps; let i = index;" color="{{selectedIndex === i ? 'primary':''}}"
            (click)="onClick(i)">Step {{i + 1}}</button>
        <button mat-button cdkStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </footer>
</section>