<mat-toolbar color="primary">
    <span>POC Front</span>
    <span class="example-spacer"></span>
    <a mat-button href="https://github.com/rodrigo-campero" target="_blank">
        <mat-icon>fingerprint</mat-icon>
    </a>
    <button mat-button [matMenuTriggerFor]="options">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #options="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="client">Client</button>
        <button mat-menu-item [matMenuTriggerFor]="employee">Employee</button>
    </mat-menu>

    <mat-menu #client="matMenu">
        <button mat-menu-item tab-router-link tabPath="client-dashboard">Dashboard</button>
        <button mat-menu-item tab-router-link tabPath="client-wizard">Wizard</button>
        <button mat-menu-item tab-router-link tabPath="client-add-edit" [tabData]="{ parent: 'Client Add' }"
            tabTitle="Client Add Edit" tabSubtitle="Modify Clients">Add</button>
        <button mat-menu-item tab-router-link tabPath="client-list" [tabData]="{ parent: 'Client Edit' }">List</button>
    </mat-menu>

    <mat-menu #employee="matMenu">
        <button mat-menu-item tab-router-link tabPath="employee-add-edit"
            tabData="{ parent: 'Employee Add' }">Add</button>
        <button mat-menu-item tab-router-link tabPath="employee-list"
            [tabData]="{ parent: 'Employee List' }">List</button>
    </mat-menu>
</mat-toolbar>