<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link">
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span>About</span>
            </a>
        </li>
        <li expand-menu class="nav-item">
            <a class="nav-link">
                <span><i class="fa fa-bar-chart"></i></span>
                <span>Libraries</span>
            </a>
        </li>
        <ul class="nav flex-column submenu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>Bootstrap</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span>Prime Ng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span>Angular Material</span>
                </a>
            </li>
        </ul>
        <li expand-menu class="nav-item">
            <a class="nav-link">
                <span><i class="fa fa-bar-chart"></i></span>
                <span>Books</span>
            </a>
        </li>
        <ul class="nav flex-column submenu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>B1</span>
                </a>
            </li>
            <li expand-menu class="nav-item">
                <a class="nav-link">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>AAAAAAAAAAAAAAAAAAAA</span>
                </a>
            </li>
            <ul class="nav flex-column submenu">
                <li class="nav-item">
                    <a class="nav-link">
                        <span>B1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span>B2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span>B3</span>
                    </a>
                </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link">
                    <span>B2</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <span>B3</span>
                </a>
            </li>
        </ul>
    </ul>
</nav>

<!-- <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul> -->