<div class="row">
    <div class="col-md-1">
        <div *ngIf="pager.pages && pager.pages.length">
            <select class="custom-select" (change)="setPageSize($event.target.value)">
                <option *ngFor="let ps of pagesSize" [value]="ps">{{ps}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-11">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(1)" class="page-link">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
            </li>
        </ul>
    </div>
</div>