<div class="container">
    <div class="scroller scroller-left" (click)="scrollLeft()" *ngIf="showScrollerLeft"><i
            class="material-icons">chevron_left</i></div>
    <div class="scroller scroller-right" (click)="scrollRight()" *ngIf="showScrollerRight"><i
            class="material-icons">chevron_right</i></div>
    <!-- <div class="wrapper" #container (scroll)="onScroll($event)"> -->
    <!-- <ul class="nav nav-tabs flex-nowrap list" id="myTab">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
        <li class="nav-item"><a class="nav-link" href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab6</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab7</a></li>
        <li class="nav-item"><a class="nav-link" href="#">qqqqqqqqqqqqqqqqqq</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab9</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab10</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab11</a></li>
        <li class="nav-item"><a class="nav-link" href="#">zzzzzzzzzzzzzzzzzzzz</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab13</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab14</a></li>
        <li class="nav-item"><a class="nav-link" href="#">cccccccccccccccccccccccc</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab16</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab17</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab17</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab17</a></li>
    </ul> -->
    <!-- </div> -->
</div>