<div> <p>I am comp2 loaded by {{data.parent}}<p></div>
    <div id="list" class="row">
 
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Proposta</th>
                        <th>CodCliente</th>
                        <th>Nome Cliente</th>
                        <th>Data Proposta</th>
                        <th class="actions">Ações</th>
                     </tr>
                </thead>
                <tbody>
     
                    <tr>
                        <td>1001</td>
                        <td>00000022</td>
                        <td>Cleber da Silva</td>
                        <td>01/01/2015</td>
                        <td class="actions">                                                        
                            <button tab-router-link tabPath="client-wizard">Editar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1002</td>
                        <td>00000023</td>
                        <td>Falvio Oliveira</td>
                        <td>01/01/2016</td>
                        <td class="actions">                                                        
                            <button tab-router-link tabPath="client-wizard">Editar</button>
                        </td>
                    </tr>
     
                </tbody>
             </table>
     
         </div>
     </div> <!-- /#list -->